.CButton:where(.astro-ZNAUKVBH) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    color: #fff;
    overflow: hidden;
    isolation: isolate;
    font-weight: 600
}

.bAndroid .CButton:where(.astro-ZNAUKVBH) {
    font-weight: 700
}

@media screen and (min-width: 768px) {
    .CButton:where(.astro-ZNAUKVBH) {
        font-size:1rem;
        width: 15.625rem;
        height: 3.75rem;
        padding-inline:2.1875rem .625rem;border-radius: 3.75rem
    }
}

@media screen and (max-width: 767.98px) {
    .CButton:where(.astro-ZNAUKVBH) {
        font-size:.875rem;
        width: 14rem;
        height: 3.75rem;
        padding-inline:1.875rem .3125rem;border-radius: 3.75rem
    }
}

.-selectionGray:where(.astro-ZNAUKVBH)::selection {
    background-color: #282828
}

.icon:where(.astro-ZNAUKVBH) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaff00;
    color: #282828;
    border-radius: 50%;
    z-index: 2;
    transform: translateZ(0)
}

@media screen and (min-width: 768px) {
    .icon:where(.astro-ZNAUKVBH) {
        width:2.5rem;
        height: 2.5rem;
        overflow: hidden
    }
}

@media screen and (max-width: 767.98px) {
    .icon:where(.astro-ZNAUKVBH) {
        width:3.125rem;
        height: 3.125rem
    }
}

@media screen and (min-width: 768px) {
    .icon-image:where(.astro-ZNAUKVBH) {
        width:.75rem;
        height: .625rem
    }
}

@media screen and (max-width: 767.98px) {
    .icon-image:where(.astro-ZNAUKVBH) {
        width:.6875rem;
        height: .625rem
    }
}

.bg:where(.astro-ZNAUKVBH) {
    position: absolute;
    inset: -2px;
    background-color: #282828;
    border-radius: 4.375rem;
    z-index: 1;
    transform: translateZ(0)
}

.bg:where(.astro-ZNAUKVBH).-color {
    --background-color: $color-theme;
    background-color: var(--background-color);
    z-index: 0;
    transform: translateZ(0)
}

@media screen and (max-width: 767.98px) {
    .bg:where(.astro-ZNAUKVBH) {
        display:none
    }
}

.text:where(.astro-ZNAUKVBH) {
    z-index: 2
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    .text:where(.astro-ZNAUKVBH) {
        margin-top:1px;
        display: block
    }
}

@media screen and (min-width: 768px) {
    .CButton:where(.astro-ZNAUKVBH).-large {
        font-size:1.0625rem;
        width: 21.875rem;
        height: 4.375rem;
        padding-inline:2.5rem .625rem;border-radius: 4.375rem
    }
}

@media screen and (max-width: 767.98px) {
    .CButton:where(.astro-ZNAUKVBH).-large {
        width:20.875rem;
        height: 3.75rem;
        padding-inline:2.5rem .3125rem;border-radius: 3.75rem
    }
}

@media screen and (min-width: 768px) {
    .CButton:where(.astro-ZNAUKVBH).-large .icon:where(.astro-ZNAUKVBH) {
        width:3.125rem;
        height: 3.125rem
    }
}

@media screen and (min-width: 768px) {
    .CButton:where(.astro-ZNAUKVBH).-large .icon-image:where(.astro-ZNAUKVBH) {
        width:1rem;
        height: .875rem
    }
}

@media screen and (min-width: 768px) {
    .CButton:where(.astro-ZNAUKVBH).-large .bg:where(.astro-ZNAUKVBH) {
        border-radius:4.375rem
    }
}

@media screen and (max-width: 767.98px) {
    .CButton:where(.astro-ZNAUKVBH).-largeSp {
        width:20.875rem;
        height: 3.75rem;
        padding-inline:2.5rem .3125rem;border-radius: 3.75rem
    }
}

@media screen and (max-width: 767.98px) {
    .CButton:where(.astro-ZNAUKVBH).-smallSp {
        width:11.875rem;
        height: 3.125rem;
        padding-inline:1.875rem .3125rem;border-radius: 3.125rem
    }
}

@media screen and (max-width: 767.98px) {
    .CButton:where(.astro-ZNAUKVBH).-smallSp .icon:where(.astro-ZNAUKVBH) {
        width:2.5rem;
        height: 2.5rem
    }
}

@media screen and (max-width: 767.98px) {
    .CButton:where(.astro-ZNAUKVBH).-smallSp .icon-image:where(.astro-ZNAUKVBH) {
        width:.5rem;
        height: .4375rem
    }
}

@media screen and (min-width: 768px) {
    .CButton:where(.astro-ZNAUKVBH).-smallSp .bg:where(.astro-ZNAUKVBH) {
        border-radius:4.375rem
    }
}

@media screen and (min-width: 768px) {
    .CButton:where(.astro-ZNAUKVBH).-narrow {
        padding-inline:2.5rem .625rem
    }
}

@media screen and (max-width: 767.98px) {
    .CButton:where(.astro-ZNAUKVBH).-narrow {
        font-size:.75rem;
        width: 11.0625rem;
        height: 3.125rem;
        padding-inline:1.1875rem .3125rem}
}

@media screen and (max-width: 767.98px) {
    .CButton:where(.astro-ZNAUKVBH).-narrow .icon:where(.astro-ZNAUKVBH) {
        width:2.5rem;
        height: 2.5rem
    }
}

@media screen and (max-width: 767.98px) {
    .CButton:where(.astro-ZNAUKVBH).-narrow .icon-image:where(.astro-ZNAUKVBH) {
        height:.6875rem
    }
}

.CButton:where(.astro-ZNAUKVBH).-invert {
    background-color: #eaff00;
    color: #282828
}

.CButton:where(.astro-ZNAUKVBH).-invert .icon:where(.astro-ZNAUKVBH) {
    background-color: #282828;
    color: #eaff00
}

.CButton:where(.astro-ZNAUKVBH).-invert .bg:where(.astro-ZNAUKVBH) {
    background-color: #eaff00
}

.CButton:where(.astro-ZNAUKVBH).-invert .bg:where(.astro-ZNAUKVBH).-color {
    --background-color: $color-font;
    background-color: var(--background-color)
}

.CButton:where(.astro-ZNAUKVBH).-external .icon:where(.astro-ZNAUKVBH) {
    transform: rotate(-45deg)
}
