.CEventItem:where(.astro-JNGOJA4W) {
    overflow: hidden;
    position: relative
}

@media screen and (min-width: 768px) {
    .CEventItem:where(.astro-JNGOJA4W) {
        border-radius:.625rem;
        transition: transform .5s cubic-bezier(.34,1.56,.64,1);
        display: flex;
        padding: 1.25rem
    }
}

@media screen and (max-width: 767.98px) {
    .CEventItem:where(.astro-JNGOJA4W) {
        border-radius:.3125rem;
        display: block;
        padding: 1.25rem
    }
}

.CEventItem:where(.astro-JNGOJA4W).-invert {
    color: #fff
}

[data-whatintent=mouse] .CEventItem:where(.astro-JNGOJA4W):hover {
    transform: scale(1.05)
}

[data-whatintent=mouse] .CEventItem:where(.astro-JNGOJA4W):hover .arrow:where(.astro-JNGOJA4W) {
    background: #282828;
    color: #eaff00;
    border-color: #28282800
}

.backIcon:where(.astro-JNGOJA4W) {
    position: absolute;
    font-family: century-old-style-std,serif;
    z-index: 1;
    opacity: .03
}

@media screen and (min-width: 768px) {
    .backIcon:where(.astro-JNGOJA4W) {
        top:-4.375rem;
        right: -3.375rem
    }
}

@media screen and (max-width: 767.98px) {
    .backIcon:where(.astro-JNGOJA4W) {
        bottom:-.3125rem;
        right: -2.1875rem
    }
}

@media screen and (min-width: 768px) {
    .backIcon-image:where(.astro-JNGOJA4W) {
        width:22.8125rem;
        height: 29.375rem
    }
}

@media screen and (max-width: 767.98px) {
    .backIcon-image:where(.astro-JNGOJA4W) {
        width:15.5rem;
        height: 19.96875rem
    }
}

@media screen and (min-width: 768px) {
    .image:where(.astro-JNGOJA4W) {
        width:28.5rem;
        height: 15rem
    }
}

@media screen and (max-width: 767.98px) {
    .image:where(.astro-JNGOJA4W) {
        width:100%;
        height: 10.96875rem
    }
}

.imageSrc:where(.astro-JNGOJA4W) {
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media screen and (min-width: 768px) {
    .imageSrc:where(.astro-JNGOJA4W) {
        border-radius:.625rem
    }
}

@media screen and (max-width: 767.98px) {
    .imageSrc:where(.astro-JNGOJA4W) {
        border-radius:.3125rem
    }
}

.content:where(.astro-JNGOJA4W) {
    z-index: 2
}

@media screen and (min-width: 768px) {
    .content:where(.astro-JNGOJA4W) {
        padding-top:.375rem;
        padding-left: 2.5625rem;
        width: calc(100% - 28.5rem)
    }
}

@media screen and (max-width: 767.98px) {
    .content:where(.astro-JNGOJA4W) {
        position:relative;
        margin-top: 1rem;
        font-size: 1.0625rem
    }
}

.info:where(.astro-JNGOJA4W) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column
}

@media screen and (min-width: 768px) {
    .info:where(.astro-JNGOJA4W) {
        padding-bottom:.5rem
    }
}

.title:where(.astro-JNGOJA4W) {
    font-weight: 600
}

.bAndroid .title:where(.astro-JNGOJA4W) {
    font-weight: 700
}

@media screen and (min-width: 768px) {
    .title:where(.astro-JNGOJA4W) {
        display:-webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-size: 1.5rem;
        line-height: 1.5;
        width: 32.25rem;
        margin-top: 1.5rem;
        height: 4.5rem
    }
}

@media screen and (max-width: 767.98px) {
    .title:where(.astro-JNGOJA4W) {
        font-size:1.0625rem;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1.125rem;
        line-height: 1.4117647059
    }
}

.schedule:where(.astro-JNGOJA4W) {
    font-weight: 600;
    display: flex;
    gap: .0625rem
}

.bAndroid .schedule:where(.astro-JNGOJA4W) {
    font-weight: 700
}

@media screen and (min-width: 768px) {
    .schedule:where(.astro-JNGOJA4W) {
        margin-top:0;
        margin-left: -.5rem
    }
}

@media screen and (max-width: 767.98px) {
    .schedule:where(.astro-JNGOJA4W) {
        font-size:.8125rem;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -.25rem
    }
}

@media screen and (min-width: 768px) {
    .-period:where(.astro-JNGOJA4W) {
        margin-top:.75rem
    }
}

@media screen and (min-width: 768px) {
    .-period:where(.astro-JNGOJA4W) .schedule-item:where(.astro-JNGOJA4W):last-of-type {
        padding-left:1.8125rem;
        margin-left: .625rem
    }
}

@media screen and (max-width: 767.98px) {
    .-period:where(.astro-JNGOJA4W) .schedule-item:where(.astro-JNGOJA4W):last-of-type {
        padding-left:.9375rem;
        margin-left: .46875rem
    }
}

.-period:where(.astro-JNGOJA4W) .schedule-item:where(.astro-JNGOJA4W):last-of-type:before {
    content: "";
    position: absolute;
    left: 0;
    background: #282828
}

@media screen and (min-width: 768px) {
    .-period:where(.astro-JNGOJA4W) .schedule-item:where(.astro-JNGOJA4W):last-of-type:before {
        top:3.25rem;
        width: 1.4375rem;
        height: 3px
    }
}

@media screen and (max-width: 767.98px) {
    .-period:where(.astro-JNGOJA4W) .schedule-item:where(.astro-JNGOJA4W):last-of-type:before {
        top:1.75rem;
        width: .9375rem;
        height: 2px
    }
}

.-invert:where(.astro-JNGOJA4W) .-period:where(.astro-JNGOJA4W) .schedule-item:where(.astro-JNGOJA4W):last-of-type:before {
    background: #fff
}

.schedule-item:where(.astro-JNGOJA4W) {
    position: relative
}

@media screen and (min-width: 768px) {
    .schedule-item:where(.astro-JNGOJA4W)+.schedule-item:where(.astro-JNGOJA4W) {
        margin-left:.625rem
    }
}

@media screen and (max-width: 767.98px) {
    .schedule-item:where(.astro-JNGOJA4W)+.schedule-item:where(.astro-JNGOJA4W) {
        margin-left:.3125rem
    }
}

.date:where(.astro-JNGOJA4W) {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    line-height: 1
}

.month:where(.astro-JNGOJA4W) {
    font-weight: 300;
    font-family: century-old-style-std,serif;
    letter-spacing: -.12em
}

@media screen and (min-width: 768px) {
    .month:where(.astro-JNGOJA4W) {
        font-size:3.75rem
    }
}

@media screen and (max-width: 767.98px) {
    .month:where(.astro-JNGOJA4W) {
        font-size:2.34375rem
    }
}

.period:where(.astro-JNGOJA4W) {
    font-weight: 300;
    font-family: century-old-style-std,serif;
    margin-left: .125rem
}

@media screen and (min-width: 768px) {
    .period:where(.astro-JNGOJA4W) {
        font-size:4rem
    }
}

@media screen and (max-width: 767.98px) {
    .period:where(.astro-JNGOJA4W) {
        font-size:2.34375rem
    }
}

.day:where(.astro-JNGOJA4W) {
    font-weight: 300;
    font-family: century-old-style-std,serif;
    letter-spacing: -.026em;
    margin-bottom: -.125rem;
    margin-left: -.125rem
}

@media screen and (min-width: 768px) {
    .day:where(.astro-JNGOJA4W) {
        font-size:5rem
    }
}

@media screen and (max-width: 767.98px) {
    .day:where(.astro-JNGOJA4W) {
        font-size:3.125rem
    }
}

.dayOfWeek:where(.astro-JNGOJA4W) {
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #282828
}

.bAndroid .dayOfWeek:where(.astro-JNGOJA4W) {
    font-weight: 700
}

@media screen and (min-width: 768px) {
    .dayOfWeek:where(.astro-JNGOJA4W) {
        font-size:.75rem;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: .375rem;
        margin-bottom: .375rem;
        line-height: 1.5rem
    }
}

@media screen and (max-width: 767.98px) {
    .dayOfWeek:where(.astro-JNGOJA4W) {
        font-size:.625rem;
        width: 1.125rem;
        height: 1.125rem;
        margin-left: .3125rem;
        margin-bottom: .25rem;
        line-height: 2.25rem
    }
}

.-invert:where(.astro-JNGOJA4W) .dayOfWeek:where(.astro-JNGOJA4W) {
    background: #fff
}

@media screen and (min-width: 768px) {
    .time:where(.astro-JNGOJA4W) {
        font-family:aktiv-grotesk,Helvetica Neue,Arial,sans-serif;
        font-weight: 400;
        font-size: .875rem;
        margin-top: .1875rem;
        padding-left: .4375rem
    }
}

@media screen and (max-width: 767.98px) {
    .time:where(.astro-JNGOJA4W) {
        font-family:aktiv-grotesk,Helvetica Neue,Arial,sans-serif;
        font-weight: 400;
        font-size: .5625rem;
        letter-spacing: -.02em
    }
}

@media screen and (min-width: 768px) {
    .bottom:where(.astro-JNGOJA4W) {
        display:flex;
        align-items: center;
        margin-top: 1.25rem
    }
}

.venue:where(.astro-JNGOJA4W) {
    font-weight: 600;
    display: flex;
    align-items: center
}

.bAndroid .venue:where(.astro-JNGOJA4W) {
    font-weight: 700
}

@media screen and (min-width: 768px) {
    .venue:where(.astro-JNGOJA4W) {
        font-size:.8125rem
    }
}

@media screen and (max-width: 767.98px) {
    .venue:where(.astro-JNGOJA4W) {
        font-family:aktiv-grotesk,Helvetica Neue,Arial,sans-serif;
        font-weight: 400;
        font-size: .75rem;
        padding-bottom: .5625rem
    }
}

@media screen and (min-width: 768px) {
    .place:where(.astro-JNGOJA4W) {
        font-size:1.125rem;
        margin-left: .5rem;
        padding-left: .3125rem
    }
}

@media screen and (max-width: 767.98px) {
    .place:where(.astro-JNGOJA4W) {
        font-family:aktiv-grotesk,Helvetica Neue,Arial,sans-serif;
        font-weight: 600;
        font-size: .90625rem;
        margin-left: .5rem
    }
}

.tag:where(.astro-JNGOJA4W) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden
}

@media screen and (min-width: 768px) {
    .tag:where(.astro-JNGOJA4W) {
        width:18.125rem;
        margin-left: 1.125rem
    }
}

@media screen and (max-width: 767.98px) {
    .tag:where(.astro-JNGOJA4W) {
        font-size:.6875rem
    }
}

.tag-item:where(.astro-JNGOJA4W) {
    display: inline-block
}

@media screen and (min-width: 768px) {
    .tag-item:where(.astro-JNGOJA4W) {
        font-size:.8125rem;
        color: #28282899
    }
}

@media screen and (max-width: 767.98px) {
    .tag-item:where(.astro-JNGOJA4W) {
        font-size:.6875rem
    }
}

@media screen and (min-width: 768px) {
    .tag-item:where(.astro-JNGOJA4W)+.tag-item:where(.astro-JNGOJA4W) {
        margin-left:.5625rem
    }
}

.-invert:where(.astro-JNGOJA4W) .tag-item:where(.astro-JNGOJA4W) {
    color: #fffc
}

@media screen and (max-width: 767.98px) {
    .-isThree:where(.astro-JNGOJA4W) .icon:where(.astro-JNGOJA4W) {
        top:18.0625rem;
        left: 17.9375rem;
        width: 4.25rem;
        height: 4.25rem
    }
}

@media screen and (max-width: 767.98px) {
    .-isThree:where(.astro-JNGOJA4W) .title:where(.astro-JNGOJA4W) {
        display:-webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        width: 16.25rem
    }
}

.icon:where(.astro-JNGOJA4W) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2
}

@media screen and (min-width: 768px) {
    .icon:where(.astro-JNGOJA4W) {
        width:8.75rem;
        height: 8.75rem;
        top: 1.875rem;
        right: 1.875rem
    }
}

@media screen and (max-width: 767.98px) {
    .icon:where(.astro-JNGOJA4W) {
        top:13.09375rem;
        left: 17.9375rem;
        width: 4.25rem;
        height: 4.25rem
    }
}

.icon-wrapper:where(.astro-JNGOJA4W) {
    position: absolute;
    inset: 0;
    display: block
}

.icon-wrapper:where(.astro-JNGOJA4W).-play {
    animation: rotateAnim 14s linear infinite
}

.icon-wrapperImage:where(.astro-JNGOJA4W) {
    fill: #eaff00
}

@media screen and (min-width: 768px) {
    .icon-wrapperImage:where(.astro-JNGOJA4W) {
        width:8.75rem;
        height: 8.75rem;
        color: #fff
    }
}

@media screen and (max-width: 767.98px) {
    .icon-wrapperImage:where(.astro-JNGOJA4W) {
        display:none
    }
}

.-closed:where(.astro-JNGOJA4W) .icon-wrapperImage:where(.astro-JNGOJA4W) {
    fill: #282828
}

@media screen and (min-width: 768px) {
    .icon-wrapperImage-sp:where(.astro-JNGOJA4W) {
        display:none
    }
}

@media screen and (max-width: 767.98px) {
    .icon-wrapperImage-sp:where(.astro-JNGOJA4W) {
        position:absolute;
        fill: #eaff00;
        display: block;
        width: 4.25rem;
        height: 4.25rem
    }
}

.-closed:where(.astro-JNGOJA4W) .icon-wrapperImage-sp:where(.astro-JNGOJA4W) {
    fill: #282828
}

.icon-finger:where(.astro-JNGOJA4W) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.icon-finger:where(.astro-JNGOJA4W) :is(svg,path) {
    stroke: #eaff00
}

.-closed:where(.astro-JNGOJA4W) .icon-finger:where(.astro-JNGOJA4W) :is(svg,path) {
    stroke: #282828
}

@media screen and (min-width: 768px) {
    .icon-finger:where(.astro-JNGOJA4W) svg {
        width:3.4375rem;
        height: 5.9375rem
    }
}

@media screen and (max-width: 767.98px) {
    .icon-finger:where(.astro-JNGOJA4W) svg {
        width:2.0625rem;
        height: 3.4375rem
    }
}

@media screen and (max-width: 767.98px) {
    .icon-finger:where(.astro-JNGOJA4W) {
        display:none
    }
}

.icon-finger-sp:where(.astro-JNGOJA4W) {
    width: 1.40625rem;
    height: 2.28125rem;
    fill: #eaff00
}

@media screen and (min-width: 768px) {
    .icon-finger-sp:where(.astro-JNGOJA4W) {
        display:none
    }
}

.-closed:where(.astro-JNGOJA4W) .icon-finger-sp:where(.astro-JNGOJA4W) {
    fill: #282828;
    width: 2.3125rem;
    height: 2.3125rem
}

.arrow:where(.astro-JNGOJA4W) {
    position: absolute;
    overflow: hidden
}

@media screen and (min-width: 768px) {
    .arrow:where(.astro-JNGOJA4W) {
        right:.75rem;
        bottom: 1.25rem;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(40,40,40,.2);
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        margin-inline:.5rem;transition: background .4s cubic-bezier(.25,1,.5,1),color .3s cubic-bezier(.22,1,.36,1)
    }
}

@media screen and (max-width: 767.98px) {
    .arrow:where(.astro-JNGOJA4W) {
        display:none
    }
}

.-invert:where(.astro-JNGOJA4W) .arrow:where(.astro-JNGOJA4W) {
    border: 1px solid rgba(255,255,255,.2)
}

.arrow-icon:where(.astro-JNGOJA4W) {
    width: .75rem;
    height: .625rem
}
